/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
</style> */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.client-card-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 0 4rem;
    margin-top: 50px;
    width: 100%;
    
    }
    
    .client-card{
        width: 350px;
        height: 800px;
        /* margin: 20px; */
        border-radius: 5px;
        box-shadow: 0px 10px 5px rgb(94, 107, 113);
        overflow: hidden;
        height: 350px;
        padding-bottom: 50px;
        margin-bottom: 3rem;

    }
    .client-header{
        padding-left: 135px;
        padding-bottom: 10px;
        padding-top: 15px;
    }
    .client-description{
        padding-left: 30px;
        padding-bottom: 10px;
    }
    .client-button {
        padding-left: 135px;
        color: yellowgreen;
       padding-bottom: 100px;
       box-sizing: border-box;
    }
   .client-card-image{
    padding-left: 100px;
    padding-bottom: 100px;
    padding-top: 40px;
    
   }
   .client-header3{
    padding-left: 140px;
    padding-bottom: 10px;
    padding-top: 15px;
   }
   .client-img1{
    /* border-radius: 5%; */
    /* border: 3px solid #fff; */
   }
   .client-title {
    padding-left: 625px;
    padding-top: 70px;
    font-size: 25px;
   
   }
   .subtitle {
    color: yellowgreen;

   }
   .swiper-class{
    display: flex;
    justify-content: center;
    justify-items: center;
   }
   .client-section-card{
    padding-bottom: 3rem;
    margin-bottom: 3rem;
   }
   .swiper-container.swiper-container-initialized .swiper-button-prev,
   .swiper-container.swiper-container-initialized .swiper-button-next {
     color: red !important; /* Change this color to your desired color */
   }
   
   .client-image-holder {
    height: 180px;
    background-color: rgb(82, 89, 95);
   }
   .client-button {
    color: rgb(184, 193, 200);
    /* background: gold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    max-width: 20%;
    padding-left: 60px; */
   }
   .swiper-class{
    padding-left: 20px;
   }